html,
body {
  min-width: 200px;
  font-size: 10px;
}
body {
  margin: 20px 0;
}

h1 {
  font-size: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}
